@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h3>
            Список продуктів
        </h3>
        <table>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Description</td>
                <td>Price</td>
                <td></td>
            </tr>
            @{
                foreach (var p in ViewBag.Products)
                {
                    <tr>
                        <td><p>@p.Id</p></td>
                        <td><p>@p.Title</p></td>
                        <td><p>@p.Description</p></td>
                        <td><p>@p.Price</p></td>
                        <td><p><a href="/Home/Buy/@p.Id">Купити</a></p></td>
                    </tr>
                }
            }
        </table>
    </div>

</div>
