
@{
   Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Купівля</title>
	</head>
	<body>
		<div>
			<h3>Форма оформлення купівлі</h3>
			<form method="post" action="">
			<input type="hidden" value="@ViewBag.Id" name="BookId"></input>
			<table>
				<tr>
					<td><input type="submit" value="Підтвердити"></input></td>
				</tr>
			</table>
			</form>
		</div>
	</body>

</html>